/*全局样式表*/
html, body, #app{
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1366px;
}
.v-card {
    margin: 0 25px;
}
/*取消右侧滚动条*/
::-webkit-scrollbar {
    width: 0 !important;
}
::-webkit-scrollbar {
    width: 0 !important;height: 0;
}
